@CHARSET "UTF-8";

@import "../reindeer/legacy-styles.css";


.logoLayoutImg{
	margin-left: 45px;
	margin-right: 10px;
	margin-top: 5px;
}
.logoLayoutLabel{
	font-size: 80px;
	line-height: normal;
	text-align: center;
	font-family: times;
	color: blue;
	
}

 .v-loading-indicator,  
 .v-loading-indicator-delay,  
 .v-loading-indicator-wait {  
   width: 100%;  
   height: 100%;  
   margin: 0;  
   background-position: 50%;  
   background-color: transparent;  
   background-repeat: no-repeat;  
   background-attachment: fixed;   
   opacity: .8;  
   -ms-filter: alpha(opacity=80);  
   filter: alpha(opacity=80);  
 }  
